image: sbtscala/scala-sbt:eclipse-temurin-17.0.15_6_1.12.1_3.8.1

variables:
  # Reduce memory usage for sbt
  SBT_OPTS: "-Xmx2G -Dfile.encoding=UTF-8"

stages:
  - lint
  - build
  - static-analysis

# Cache downloaded dependencies and sbt artifacts using the build.sbt checksum as key
cache:
  key:
    files:
      - build.sbt
  paths:
    - .cache/coursier
    - .sbt

lint:
  stage: lint
  script:
    - sbt scalafmtCheckAll scalafmtSbtCheck
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
    - when: manual

build_and_test:
  stage: build
  services:
    - docker:27-dind
  variables:
    # Docker-in-Docker configuration
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
    # Testcontainers configuration
    TESTCONTAINERS_RYUK_DISABLED: "true"
    TESTCONTAINERS_CHECKS_DISABLE: "true"
  script:
    - sbt compile test
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
    - when: manual

static_analysis:
  stage: static-analysis
  script:
    - sbt "scalafixAll --check"
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
    - when: manual
